.estoque {
    width: 85%;
    height: 100vh;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.btn-novo-produto{
    margin-left: 200px;
    width: 250px;
    height: 50px;
    color: #002f62;
    border: 1px solid #002f62;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;

}

.btn-novo-produto:hover{
    background-color: #002f62;
    color: #00E6FA;
    transition: 0.3s ease all;
}

.cont2 {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.cont2 #search{
    width: 30%;
    height: 50px;
    border: 1px solid #002f62;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;

}

.cont2 #select{
    width: 20%;
    height: 50px;
    border: 1px solid #002f62;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;

}

.cont3{
    width: 100%;
    height: auto;
}


.table {
    margin-top: 20px;
    margin-left: 60px;
    width: 90%;
    border-collapse: collapse;
    border-spacing: 0;

}

.table th {
    background-color: #002f62;
    color: white;
    padding: 10px;
    text-align: left;
}

.table td,.table th {

    padding: 8px;
}

.table td img{
    width: 30px;
    height: 30px;
}

.table td img:hover{
    cursor: pointer;
    width: 25px;
    height: 25px;
    transition: 0.3s ease all;
}