.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0085C2;
    /* background-color: rgba(0, 133, 194, 0.64); */
    z-index: 1000;
    box-sizing: border-box;
  }

  .header button{
    width: 50px;
    height: auto;
    background-color: transparent;
    cursor: pointer;
  }
  .header button img:hover{
    width: 55px;
    height: auto;
    transition: 0.3s;
  }

  .header button img{
    width: 40px;
  }

h2 {
    font-size: 32px;
    color: white;
}